<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Box Game</title>
</head>
<body id="body">
<button onclick="startGame()" id="startGame">Start</button>
<button onclick="createBox()">Create Box</button>
<button onclick="api_put()" id="Put">Save</button>
<button onclick="api_wipe()" id="Wipe">Reset</button>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
        let boxes = {}
        let box_id_counter = -1
        class Box {
            constructor(id = null, horizontal_velocity = getRndInteger(-35, 35), vertical_velocity = getRndInteger(-35, 35), distance_top = getRndInteger(2, window_height-2), distance_left = getRndInteger(2, window_width-2), color = getRandomColor(), size = getRndInteger(Math.floor(window_width/25), window_width/15)) {
                this.id = id
                this.horizontal_velocity = horizontal_velocity
                this.vertical_velocity = vertical_velocity
                this.distance_top = distance_top
                this.distance_left = distance_left
                this.color = color
                this.size = size
            }
        }
        let window_height = document.getElementById('body').getBoundingClientRect().height
        let window_width = document.getElementById('body').getBoundingClientRect().width
        function updatebox() {
            console.log(boxes)
            window_height = document.getElementById('body').getBoundingClientRect().height
            window_width = document.getElementById('body').getBoundingClientRect().width
            for (i in boxes) {
                let box = boxes[i]
                box_element = document.getElementById(box.id)
                box_element.style.left = `${box.distance_left}px`
                box.distance_left += box.horizontal_velocity
                if ((window_width - box_element.getBoundingClientRect().right) <= 10) {
                    box.horizontal_velocity = -Math.abs(box.horizontal_velocity)
                } else if ((box_element.getBoundingClientRect().left) <= 10) {
                    box.horizontal_velocity = Math.abs(box.horizontal_velocity)
                }

                box_element.style.top = `${box.distance_top}px`
                box.distance_top += box.vertical_velocity
                if ((window_height - box_element.getBoundingClientRect().bottom) <= 10) {
                    box.vertical_velocity = -Math.abs(box.vertical_velocity)

                } else if ((box_element.getBoundingClientRect().top) <= 10) {
                    box.vertical_velocity = Math.abs(box.vertical_velocity)
                }
            }

        }

        function createBox(box = null) {
            let test = null
            if (box == null) {
                let box = new Box()
            }
            api_put(box)
            {#api_post(box)#}
            boxes = api_get()
            api_get().then(resp => test = resp)
            console.log(test)
            let box_element = document.createElement('DIV')
            box_element.id = box.id
            box_element.addEventListener('mousedown', function () {
                deleteBox(box.id)
            })
            box_element.style.position = 'absolute'
            box_element.style.top = `${box.distance_top}px`
            box_element.style.left = `${box.distance_left}px`
            box_element.style.backgroundColor = `${box.color}`
            box_element.style.height = `${box.size}px`
            box_element.style.width = `${box.size}px`
            document.body.appendChild(box_element)
            }

        function deleteBox(id) {
            delete boxes[id]
            let box_element = document.getElementById(`${id}`)
            box_element.parentNode.removeChild(box_element)
            axios.delete(`http://localhost:8000/api/box/${id}`)
        }

        function startGame() {
            api_get().then(resp => {
                for (i in resp) {
                    createBox(resp[i])
                }
            })
            if (boxes.length <= 0){
                box_id_counter = 0
                for (let i = 0; i < 6; i++) {
                    createBox()
                }
            }
            start_game_button = document.getElementById('startGame')
            start_game_button.style.visibility = 'hidden'
        }

        async function api_get() {
            let resp = await axios.get('http://localhost:8000/api/box/')
            return resp.data
        }

        function api_wipe() {
            api_get().then(resp => {
                for (i in resp) {
                    {#console.log(resp[i].id)#}
                    id = resp[i].id
                    axios.delete(`http://localhost:8000/api/box/${id}`)
                    if (boxes.length > 1) {
                        delete boxes[id]
                        let box_element = document.getElementById(`${id}`)
                        box_element.parentNode.removeChild(box_element)
                    }
                }
            })
        }

        function api_remove(box) {
            id = i
            console.log(id)
        }

        function api_delete(box) {

        }

        function api_post(box) {
            let data = axios.post('http://localhost:8000/api/box/', box)
        }

        function api_put(box) {
            for (i in boxes) {
                let data = axios.put(`http://localhost:8000/api/box/${boxes[i].id}`, boxes[i])
            }
        }

        function getRndInteger(min, max) {
            return Math.floor(Math.random() * (max - min) ) + min;
        }

        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
        setInterval(updatebox, 20000)
    </script>
</body>
<style>
    #startGame {
        width: 40%;
        height: 20%;
        font-size: 9em;
        margin-top: 20%;
        margin-left: 30%;
    }
    html,
    body {
        height: 100%;
    }
</style>
</html>